/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";



/*Importacion bootstrap*/
@import "~bootstrap/dist/css/bootstrap.min.css";


.active-link {
    background-color: white; /* Cambia el color de fondo a azul cuando la opción está activa */
    color:cornflowerblue; /* Cambia el color del texto a blanco */
    font-weight: bold;
  }
  
  /* src/global.scss */
body {
  --ion-background-color: #ffffff;
  --ion-text-color: #000000;
  --ion-color-primary: #3880ff;
  --ion-color-secondary: #3dc2ff;
  --ion-color-tertiary: #5260ff;
  --ion-color-success: #2dd36f;
  --ion-color-warning: #ffc409;
  --ion-color-danger: #eb445a;
  --ion-color-light: #f4f5f8;
  --ion-color-medium: #92949c;
  --ion-color-dark: #222428;
  
  /* Ensure the body does not follow the dark mode preference */
  background-color: var(--ion-background-color) !important;
  color: var(--ion-text-color) !important;
}

/* Apply the styles globally */
html, body, ion-app, ion-content {
  background-color: var(--ion-background-color) !important;
  color: var(--ion-text-color) !important;
}
.custom-toolbar {
  //background-color: #1FC2BD !important;
  --ion-background-color: #1FC2BD !important;
}
.toggle-menu{
--ion-background-color:  #07c6c092 !important;
}