<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size="auto">
            <ion-card-title>
              Detalles de {{VentanaTitulo}}
            </ion-card-title>
            <ion-card-subtitle class="mt-1" color="success" [hidden]="ModoEdicion">
              <b>Modo Edición Activado</b>
            </ion-card-subtitle>
          </ion-col>
          <ion-col class="ion-text-end" [hidden]="ModoEdicion">
              <ion-button color="danger" (click)="btnEliminar()">
                <ion-icon name="trash-bin"></ion-icon>
              </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    <ion-card-content>
      <form (submit)="ActualizarUsuario(id,email,nombre,apellidos,telefono,rol,departamento)"
        class="ion-justify-content-center">
        <input name="id" id="id" [value]="usuario?.id" hidden #id>
        <div class="row">
          <!-- Columna para la imagen y los campos de texto izquierdos -->
          <div class="row">
            <div class="col-md-3 col-sm-12">
              <div class="ion-justify-content-center" style="margin: auto; display: flex;">
                <!-- Contenedor para centrar la imagen -->
                <div style="width: 170px; height: 170px; border-radius: 50%; overflow: hidden; border:solid 1px black">
                  <ion-img [src]="usuario?.foto" style="width: 100%; height: 100%;"></ion-img>
                </div>
              </div>
            </div>
            <div class="col-md-9">
              <!-- Campo de texto para el email -->
              <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" [value]="usuario?.email" readonly #email>
                <div id="emailHelp" class="form-text">Este campo no se puede modificar</div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="mb-3">
                    <label for="Nombre" class="form-label">Nombre</label>
                    <input type="text" class="form-control" id="nombre" [value]="usuario?.nombre"
                      [disabled]="ModoEdicion" #nombre>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="mb-3">
                    <label for="apellidos" class="form-label">Apellidos</label>
                    <input type="text" class="form-control" id="apellidos" [value]="usuario?.apellidos"
                      [disabled]="ModoEdicion" #apellidos>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Columna para los campos de texto derechos -->

          <!-- Otro campo de texto -->
          <div class="row">
            <div class="col-md-6">
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Telefono</label>
                <input type="text" class="form-control" id="telefono" [value]="usuario?.telefono"
                  placeholder="123456789" aria-describedby="telefono" [disabled]="ModoEdicion" #telefono>
              </div>
            </div>
            <div class="col-md-6">
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Rol</label>
                <input type="text" class="form-control" id="rol" [value]="usuario?.rol === 0 ? 'Usuario' : 'Técnico'"
                  aria-describedby="rolHelp" [disabled]="ModoEdicion" readonly #rol>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="mb-3">
                  <ion-select class="form-control" [(ngModel)]="selectedDpt" name="departamento" label="Selecciona un Departamento" [disabled]="ModoEdicion"
                        label-placement="floating" #departamento>
                        <ion-select-option  *ngFor="let item of ListaDpt" [value]="item.nombre">
                        <ion-label> {{item.nombre}}</ion-label></ion-select-option>
                      </ion-select> 
              </div>
            </div>
            <div class="col-md-6">
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Centro</label>
                <input type="text" class="form-control" id="rol" [value]="CentroUsuario?.nombre"
                  aria-describedby="rolHelp" readonly>
                <div id="emailHelp" class="form-text">Pulsa para ver más detalles del centro</div>
              </div>
            </div>
          </div>
        </div>

        <!-- Botón de submit -->
        <ion-grid>
          <ion-row>
            <ion-col size="auto" [hidden]="ModoEdicion">
              <button type="submit" class="btn btn-primary">Guardar</button>
            </ion-col>
            <ion-col size="auto" [hidden]="!Permisos">
              <button type="button" (click)="ModoEditar()" class="btn btn-success">
                {{TextModeEdit}}
              </button>
            </ion-col>
            <ion-col class="ion-text-end" [hidden]="!btnTamPantalla">
              <button type="button" class="btn btn-warning" (click)="CancelarForm()"> Cancelar</button>

            </ion-col>
          </ion-row>
        </ion-grid>
      </form>
    </ion-card-content>
  </ion-card-content>
  </ion-card>
  <!-- <div [hidden]="btnTamPantalla">
    <ion-fab class="mb-5" horizontal="end" vertical="end" slot="flex">
      <ion-fab-button color="warning" (click)="CancelarForm()">
        <ion-icon name="close"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </div> -->

  <ion-fab class="mb-5" [hidden]="btnTamPantalla" horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button color="warning" (click)="CancelarForm()">
      <ion-icon name="close"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>