<ion-content [fullscreen]="true">
  <ion-grid class="m-3">
    <ion-row>
      <ion-col size="auto">
        <ion-card-title>
          Listado de Incidencias
        </ion-card-title>
        <ion-card-subtitle>Selecciona una para más información</ion-card-subtitle>
      </ion-col>
      <ion-col class="col ion-text-end ion-justify-content-end">
        <ion-button (click)="NuevaIncidencia()">
          <ion-icon class="m-1" name="duplicate-outline"></ion-icon> 
          {{btnNuevoText}} 
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-card>
    
      <ion-item color="light">
        <ion-select label="Listado de incidencias" placeholder="Todas" [(ngModel)]="selectedOption" (ionChange)="onOptionChange($event)">
          <ion-select-option value="todas">Todas</ion-select-option>
          <ion-select-option value="atendidas">Atendidas</ion-select-option>
          <ion-select-option value="pendientes">Pendientes</ion-select-option>
        </ion-select>    
      </ion-item>
    
  </ion-card>
  
  <ion-card>

    <ion-list>
      <ion-item>
        <ion-label><b>Aula</b></ion-label>
        <ion-label><b>Fecha</b></ion-label>
        <ion-label><b>Estado</b></ion-label>
      </ion-item>
      <div *ngFor="let item of MetodosComunes.paginatedItems" class="item-container" [ngClass]="{'false-status': !item.atentida, 'true-status': item.atentida}" (click)="AbrirDetallesIncidencia(item)">
        <ion-item>
          <ion-label hidden>{{item.id}}</ion-label>
          <ion-label>{{ item.aula }}</ion-label>
          <ion-label>{{ item.fecha }}</ion-label>
          <ion-label>{{ item.atentida ? 'Atentida' : 'Pendiente' }}</ion-label>
        </ion-item>
      </div>
    </ion-list>
    <ion-footer>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button [disabled]="MetodosComunes.currentPage === 1" (click)="goToPage(MetodosComunes.currentPage - 1)">Anterior</ion-button>
        </ion-buttons>
        <ion-buttons slot="end">
          <ion-button [disabled]="(MetodosComunes.currentPage * MetodosComunes.itemsPerPage) >= ListaIncidenciasFLTR.length" (click)="goToPage(MetodosComunes.currentPage + 1)">Siguiente</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-footer>
  </ion-card>
</ion-content>


