ion-menu::part(backdrop) {
    background-color: rgba(51, 85, 234, 0.292);
  }
  
  ion-menu::part(container) {
    border-radius: 0 20px 20px 0;
  
    box-shadow: 4px 0px 16px rgba(43, 0, 255, 0.18);
  }
