ion-menu::part(backdrop) {
    background-color: #96e2e053;
  }
  
  ion-menu::part(container) {
    border-radius: 0 20px 20px 0;
  
    box-shadow: 4px 0px 16px #5ecbc7;
  }

  .custom-toolbar {
    //background-color: #1FC2BD !important;
    --ion-background-color: #1FC2BD !important;
  }
  .toggle-menu{
 --ion-background-color:  #07c6c092 !important;
  }

  .very-small{
    font-size: xx-small
  }

  .namecls{
    font-size: smaller;
  }

  