<ion-app>
  <ion-menu type="overlay" side="start" contentId="main-content" [hidden]="OcultMenu">
    <ion-header>
      <ion-toolbar color="tertiary">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-list>
        <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index" [hidden]="!SesionState">
          <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false"
            routerLinkActive="selected">
            <ion-icon aria-hidden="true" slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
            <ion-label>{{ p.title }}</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <hr [hidden]="!SesionState">
        <ion-item lines="none" [hidden]="!SesionState">
          <ion-label><b>Sobre mi</b></ion-label>
        </ion-item>
        <ion-menu-toggle class="mb-5" auto-hide="false" *ngFor="let p of OpsUsuario; let i = index" [hidden]="!SesionState">
          <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false"
            routerLinkActive="selected">
            <ion-icon aria-hidden="true" slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
            <ion-label>{{ p.title }}</ion-label>
            
            <ion-icon *ngIf="p.title === 'Cuenta'" color="danger" slot="end"  [hidden]="FaltaInfo" name="alert-circle-outline" size="large">d</ion-icon>
            <ion-icon *ngIf="p.title === 'Cuenta'" color="success" slot="end"  [hidden]="!FaltaInfo" name="checkmark-circle-outline" size="large">d</ion-icon>
            <ion-badge *ngIf="p.title === 'Usuarios'" slot="end">{{notificationCount}}</ion-badge>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle auto-hide="false">
          <ion-button size="small" color="danger" expand="block" fill="outline" (click)="CerrarSesion()"> <ion-icon class="m-1" name="log-out-outline"></ion-icon> Cerrar Sesión</ion-button>
          <!-- <ion-item class="mt-3" (click)="CerrarSesion()"><ion-button>Cerrar Sesión</ion-button></ion-item> -->
        </ion-menu-toggle>
      </ion-list>

    </ion-content>
  </ion-menu>
  <div class="ion-page" id="main-content">
    <ion-header >
      <ion-toolbar color="primary">
        <ion-title>GESTIÓN DE INCIDENCIAS</ion-title>
        <ion-buttons slot="start" [hidden]="OcultMenu">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding"> <ion-router-outlet id="main-content"></ion-router-outlet></ion-content>
  </div>
</ion-app>