.no-stock {
    --ion-background-color: rgba(255, 0, 0, 0.089);
  }
  
  .low-stock {
    --ion-background-color: rgba(255, 255, 0, 0.115);
  }
  
  .high-stock {
    --ion-background-color: rgba(0, 128, 0, 0.104);
  }